﻿@model EHaliSaha.kullanicilar

@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


@using (Html.BeginForm("AddKullanici", "Kullanicilar",FormMethod.Post,new { @class = "form-horizantal" }))
{
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    Advanced Form validations
                </header> 
                <div class="panel-body">
                    <div class="form">
                        <form class="form-validate form-horizontal " id="register_form" method="get" action="">
                            <div class="form-group ">
                                @Html.LabelFor(m=>m.ad, new {@class= "control-label col-lg-2" })

                                <div class="col-lg-10">
                                    @Html.TextBoxFor(m => m.ad,new {@class = "form-control",placeholder = "Adınızı Giriniz" })
                                    
                                    <br />
                                </div>
                            </div>
                            <div class="form-group ">
                                @Html.LabelFor(m => m.soyad, new { @class = "control-label col-lg-2" })

                                <div class="col-lg-10">
                                    @Html.TextBoxFor(m => m.soyad, new { @class = "form-control", placeholder = "Soyadınızı Giriniz" })

                                    <br />
                                </div>
                            </div>
                            <div class="form-group ">
                                @Html.LabelFor(m => m.yas, new { @class = "control-label col-lg-2" })

                                <div class="col-lg-10">
                                    @Html.TextBoxFor(m => m.yas, new { @class = "form-control", placeholder = "Yaşınızı Giriniz" })

                                    <br />
                                </div>
                            </div>
                            <div class="form-group ">
                                @Html.LabelFor(m => m.tel, new { @class = "control-label col-lg-2" })

                                <div class="col-lg-10">
                                    @Html.TextBoxFor(m => m.tel, new { @class = "form-control", placeholder = "Telefon Giriniz" })

                                    <br />
                                </div>
                            </div>
                            <div class="form-group ">
                                @Html.LabelFor(m => m.halisaha_adi, new { @class = "control-label col-lg-2" })

                                <div class="col-lg-10">
                                    @Html.TextBoxFor(m => m.halisaha_adi, new { @class = "form-control", placeholder = "HalıSaha Seçiniz  " })

                                    <br />
                                </div>
                            </div>
                            <div class="form-group ">
                                @Html.LabelFor(m => m.randevu_tarihi, new { @class = "control-label col-lg-2" })

                                <div class="col-lg-10">
                                    @Html.TextBoxFor(m => m.randevu_tarihi, new { @class = "form-control", placeholder = "Randevu Tarihi Seçiniz" })

                                    <br />
                                </div>
                            </div>
                          
                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-10">
                                    <button class="btn btn-primary" type="submit">Ekle</button>
                                    <button class="btn btn-default" type="button">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>

}
