﻿@model List<kullanicilar>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
               <p align="center">@Html.ActionLink("Kullanıcı Ekle", "Add")</p>
</header>

            <table class="table table-striped table-advance table-hover">
                <tbody>
                    <tr>
                        <th><i class="icon_profile"></i> Ad Soyad</th>
                        <th><i class="icon_calendar"></i> Randevu Tarihi</th>
                        <th><i class="icon_mail_alt"></i> Yaş</th>
                        <th><i class="icon_pin_alt"></i> Halı Saha Adı</th>
                        <th><i class="icon_mobile"></i> Telefon</th>
                        <th><i class="icon_cogs"></i> Action</th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.ad @item.soyad</td>
                            <td>@item.randevu_tarihi</td>
                            <td>@item.yas</td>
                            <td>@item.halisaha_adi</td>
                            <td>@item.tel</td>
                            <td>
                                <div class="btn-group">
                                    @*@Html.ActionLink("Detaylar", "Details", "Kullanicilar", new { id = item.id },null)*@
                                    @Html.ActionLink("Düzenle", "Edit", "Kullanicilar", new { id = item.id },null)
                                    @Html.ActionLink("Sil", "Delete", "Kullanicilar", new { id = item.id },null)
                                </div>
                            </td>
                        </tr>

                    }
                    
                </tbody>
            </table>
        </section>
    </div>
</div>

