﻿@{
    ViewBag.Title = "About";
}

<section id="about-us">
    <div class="container">
        <div class="text-center wow fadeInDown">
            <h2>Aylık Oylamalar</h2>
            <p>Sahalarımızın Kalitesi Güvenilirliği Temizliği ve Fiyatı gibi Özelliklerin Aylık Değerlendirilimesi</p>
        </div>
        <div class="skill-wrap clearfix">
            <div class="row">
                <div class="col-sm-3">
                    <div class="sinlge-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="joomla-skill">
                            <p><em>85%</em></p>
                            <p>Hizmet Kalitesi</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="sinlge-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="html-skill">
                            <p><em>95%</em></p>
                            <p>Güvenilirlik</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="sinlge-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms">
                        <div class="css-skill">
                            <p><em>%85</em></p>
                            <p>Ekonomik Uygunluk</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="sinlge-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1200ms">
                        <div class="wp-skill">
                            <p><em>90%</em></p>
                            <p>Ekipman Kalitesi</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- our-team -->
        <div class="team">
            <div class="text-center wow fadeInDown">
                <h2>Çalışanlar</h2>
                <p>Sistemimiz kurulduğundan beri gecesini gündüzüne katan vefakar çalışanlarımız <br> ve onlara ulaşabileceğiniz adresler.</p>
            </div>

            <div class="row clearfix">
                <div class="col-md-4 col-sm-6">
                    <div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="media">x
                            <div class="pull-left">
                                <a href="#"><img class="media-object" src="/Content/img/adam1.jpg" alt=""></a>
                            </div>
                            <div class="media-body">
                                <h4>Fırat Çelik</h4>
                                <h5>Patron</h5>
                                <ul class="tag clearfix">
                                    <li class="btn"><a href="#">Spotify</a></li>
                                    
                                </ul>

                                <ul class="social_icons">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div><!--/.media -->
                        <p>Şirketin kurucusu ve en büyük ortağıdır. Sistemin satıldığı yurtdışı firmalarına sistem desteği verir.</p>
                    </div>
                </div><!--/.col-lg-4 -->


                <div class="col-md-4 col-sm-6 col-md-offset-2">
                    <div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="media">
                            <div class="pull-left">
                                <a href="#"><img class="media-object" src="~/Content/img/adam2.jpg" alt=""></a>
                            </div>
                            <div class="media-body">
                                <h4>Emre Güleç</h4>
                                <h5>Pazarlama</h5>
                                <ul class="tag clearfix">
                                    <li class="btn"><a href="#">Spotify</a></li>

                                </ul>
                                <ul class="social_icons">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div><!--/.media -->
                        <p>Şirketin yükselmesinde büyük payı olan Emre uygun hiç bir fırsatı kaçırmaz hatta bu fırsatları herkese yayar. Üstün pazarlama becerileriyle sistemimizi her gittiği yerde satmayı başarmıştır.</p>
                    </div>
                </div><!--/.col-lg-4 -->
            </div> <!--/.row -->
            <div class="row team-bar">
                <div class="first-one-arrow hidden-xs">
                    <hr>
                </div>
                <div class="first-arrow hidden-xs">
                    <hr> <i class="fa fa-angle-up"></i>
                </div>
                <div class="second-arrow hidden-xs">
                    <hr> <i class="fa fa-angle-down"></i>
                </div>
                <div class="third-arrow hidden-xs">
                    <hr> <i class="fa fa-angle-up"></i>
                </div>
                <div class="fourth-arrow hidden-xs">
                    <hr> <i class="fa fa-angle-down"></i>
                </div>
            </div> <!--skill_border-->

            <div class="row clearfix">
                <div class="col-md-4 col-sm-6 col-md-offset-2">
                    <div class="single-profile-bottom wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="media">
                            <div class="pull-left">
                                <a href="#"><img class="media-object" src="/Content/img/adam3.jpg" alt=""></a>
                            </div>

                            <div class="media-body">
                                <h4>M.Osman Çağan</h4>
                                <h5>Basın Sorumlusu</h5>
                                <ul class="tag clearfix">
                                    <li class="btn"><a href="#">Spotify</a></li>
                                   
                                </ul>
                                <ul class="social_icons">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div><!--/.media -->
                        <p>Şirketin en göz önündeki elemanıdır.Basın konusmalarını,röportajları organize eder. Sosyal medyada çok etkilidir özellikle instagramda yaptığı sistem tanıtımları şirketi bir basamak atlatmıştır.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-md-offset-2">
                    <div class="single-profile-bottom wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="media">
                            <div class="pull-left">
                                <a href="#"><img class="media-object" src="/Content/img/adam4.jpg" alt=""></a>
                            </div>
                            <div class="media-body">
                                <h4>Tolga Yıldız</h4>
                                <h5>Yazılımcı</h5>
                                <ul class="tag clearfix">
                                    <li class="btn"><a href="#">Spotify</a></li>
                                    
                                </ul>
                                <ul class="social_icons">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div><!--/.media -->
                        <p>Şirketin koderi olup sistemle ilgili tüm yazılımsal işlerden sorumludur.</p>
                    </div>
                </div>
            </div>	<!--/.row-->
        </div><!--section-->
    </div><!--/.container-->
</section><!--/about-us-->