﻿@{
    ViewBag.Title = "Contact";
}

<section id="contact" class="section">
   
    <br />
    <br />
    <br />
    <br />

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h4><i class="icon-envelope"></i><strong>İletişim Formu</strong></h4>
                <p>
                    Bize ulaşmak için bu formu doldurunuz. Size en kısa zamanda dönüş yapılacaktır.
                </p>
                <!-- start contact form -->
                <div class="cform" id="contact-form">


                    <div id="sendmessage">Your message has been sent. Thank you!</div>
                    <div id="errormessage"></div>
                    <form action="" method="post" role="form" class="contactForm">
                        <div class="form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Adınız Soyadınız" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Mail Adresiniz" data-rule="email" data-msg="Please enter a valid email" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Konu" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Mesajınız"></textarea>
                            <div class="validation"></div>
                        </div>

                        <div class="text-center"><button type="submit" class="btn btn-lg btn-theme">Gönder</button></div>
                        <br />
                        <br />
                    </form>
                </div>
                <!-- END contact form -->
            </div>
            <div class="col-md-6">
                <h4>Konum Bilgisi</h4>
                <p>View from google map</p>
                <!-- map -->
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.89008499161!2d30.3234383152057!3d40.74244404368982!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14ccaded70ee240b%3A0xd81085b5551312fd!2sBilgisayar+Ve+Bili%C5%9Fim+Bilimleri+Fak%C3%BCltesi!5e0!3m2!1str!2str!4v1480123105899" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</section>
<!-- end section contact -->

    <script src="https://maps.google.com/maps/api/js?sensor=true"></script>


