﻿@{
    ViewBag.Title = "Home Page";
}

<div class="slider">
    <div id="about-slider">
        <div id="carousel-slider" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators visible-xs">
                <li data-target="#carousel-slider" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-slider" data-slide-to="1"></li>
                <li data-target="#carousel-slider" data-slide-to="2"></li>
            </ol>

            <div class="carousel-inner">
                <div class="item active">
                    <img src="~/Content/img/a.jpg" class="img-responsive" alt="">
                    <div class="carousel-caption">
                        <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.3s">
                            <h2><span>E-Halı Saha Sistemine Hoşgeldiniz</span></h2>
                        </div>

                        <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.9s">
                            <form class="form-inline">
                                <div class="form-group">
                                    <button type="livedemo" name="Live Demo" class="btn btn-primary btn-lg" required="required">Randevu Al</button>
                                </div>
                                <div class="form-group">
                                    <button type="getnow" name="Get Now" class="btn btn-primary btn-lg" required="required">Randevularım</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <img src="~/Content/img/b.jpg" class="img-responsive" alt="">
                    <div class="carousel-caption">
                        <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="1.0s">
                            <h2>Sporda Kolaylık İçin</h2>
                        </div>

                        <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="1.6s">
                            <form class="form-inline">
                                <div class="form-group">
                                        <button type="livedemo" name="purchase" class="btn btn-primary btn-lg" required="required">Randevu Al</button>
                                </div>
                                <div class="form-group">
                                    <button type="getnow" name="subscribe" class="btn btn-primary btn-lg" required="required">Randevularım</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="~/Content/img/c.jpg" class="img-responsive" alt="">
                    <div class="carousel-caption">
                        <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.3s">
                            <h2>Rezervasyonda Rahatlık İçin</h2>
                        </div>

                        <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.9s">
                            <form class="form-inline">
                                <div class="form-group">
                                    <button type="livedemo" name="purchase" class="btn btn-primary btn-lg" required="required">Randevu Al</button>
                                </div>
                                <div class="form-group">
                                    <button type="getnow" name="subscribe" class="btn btn-primary btn-lg" required="required">Randevularım</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <a class="left carousel-control hidden-xs" href="#carousel-slider" data-slide="prev">
                <i class="fa fa-angle-left"></i>
            </a>

            <a class=" right carousel-control hidden-xs"href="#carousel-slider" data-slide="next">
                <i class="fa fa-angle-right"></i>
            </a>
        </div> <!--/#carousel-slider-->
    </div><!--/#about-slider-->
</div><!--/#slider-->