﻿
@{
    ViewBag.Title = "Kayit";
}
<br />
<br />
<div class="container">

    <div class="row text-center">

        <form class="form-signin col-md-6 col-md-offset-3" role="form" method="post" action="uye_kaydet.php">

            <h2 class="form-signin-heading">Hesap Oluşturma</h2>
            <br />


            <div class="form-group">

                <input type="ad" class="form-control" name="ad" placeholder="Adınızı Giriniz" />

            </div>

            <div class="form-group">

                <input type="soyad" class="form-control" name="soyad" id="exampleInputSoyad" placeholder="Soyadınızı Giriniz" />

            </div>

            <div class="form-group">

                <input type="yas" class="form-control" name="yas" id="exampleInputYas" placeholder="Yaşınızı Giriniz" />

            </div>

            <div class="form-group">

                <input type="email" class="form-control" name="email" id="exampleInputEmail1" placeholder="E-Mail Adresinizi Giriniz" />

            </div>

            <div class="form-group">

                <input type="password" class="form-control" name="sifre" id="exampleInputPassword1" placeholder="Şifrenizi Giriniz" />

            </div>

            <div class="form-group">

                <input type="sifretekrar" class="form-control" name="sifretekrar" id="exampleInputPassword1" placeholder="Şifrenizi Tekrarlayınız" />

            </div>
            <br />
            <button class="btn btn-lg btn-primary btn-block" type="submit">Üye OL</button>
            <br />
            <br />
        </form>
       
    </div>

    <div class="row">

        <hr class="featurette-divider">

      
    </div>

</div>