﻿
@{
    ViewBag.Title = "Kayit";
}

<!-- Kaliteli Kod Yayıncısı & Kaynak : http://www.webkodu.com -->
<!-- WebKodu.com / Artık Herşey Tek Çatı Altında : http://www.webkodu.com -->
<br />
<br />
<br />
<br />
<center>
    <h4>E-HalıSaha Sistemş Giriş</h4>
    <br />
    <form method="post" action="index.html" class="login">
        <p>
            <label for="login">EMail:</label>
            <input type="text" name="login" id="login" value="username@gmail.com">
        </p>

        <p>
            <label for="password">Şifre:</label>
            <input type="password" name="password" id="password" value="7777777">
        </p>

        <p class="login-submit">
            <button type="submit" class="login-button">Giriş</button>
        </p>

        <p class="forgot-password"><a href="#">Şifrenizi mi Unuttunuz ?</a></p>
    </form>
</center>
<br />
<br />
<br />
<br />

