﻿@model EHaliSaha.Areas.Admin.Models.RolEkleModel
@{
    ViewBag.Title = "RolEkle";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>RolEkle</h2>

@using (Html.BeginForm("RolEkle","RolYonetimi",FormMethod.Post))
{
    @Html.TextBoxFor(m=>m.RolAd)
    <input type="submit" />
}

