﻿@model EHaliSaha.Areas.Admin.Models.RolKullaniciEkleModel
@{
    ViewBag.Title = "RolKullaniciEkle";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>RolKullaniciEkle</h2>

@using (Html.BeginForm("RolKullaniciEkle","RolYonetimi",FormMethod.Post))
{
    @Html.LabelFor(m=>m.KullaniciAdi)  @Html.TextBoxFor(m=>m.KullaniciAdi)

    @Html.LabelFor(m => m.RolAdi)  @Html.TextBoxFor(m => m.RolAdi)

    <input type="submit" />
}