﻿
@{
    ViewBag.Title = "Index";
}

<div class="gallery">
    <div class="text-center">
        <h2>Resimler</h2>
    </div>
    <div class="container">
        <div class="col-md-4">
            <figure class="effect-marley">
                <img src="/Content/img/h1.jpg" alt="" class="img-responsive" />
                <figcaption>
                    <h4>Halı Saha 1</h4>
                </figcaption>
            </figure>
        </div>
        <div class="col-md-4">
            <figure class="effect-marley">
                <img src="/Content/img/h2.jpg" alt="" class="img-responsive" />
                <figcaption>
                    <h4>Halı Saha 2</h4>
                </figcaption>
            </figure>
        </div>
        <div class="col-md-4">
            <figure class="effect-marley">
                <img src="/Content/img/h3.jpg" alt="" class="img-responsive" />
                <figcaption>
                    <h4>Halı Saha 3</h4>
                </figcaption>
            </figure>
        </div>
    </div>
</div>

    <div class="container">
        <div class="col-md-4">
            <figure class="effect-marley">
                <img src="/Content/img/h4.jpg" alt="" class="img-responsive" />
                <figcaption>
                    <h4>Halı Saha 4</h4>
                </figcaption>
            </figure>
        </div>
        <div class="col-md-4">
            <figure class="effect-marley">
                <img src="/Content/img/h5.jpg" alt="" class="img-responsive" />
                <figcaption>
                    <h4>Takım Pozu</h4>
                </figcaption>
            </figure>
        </div>
        <div class="col-md-4">
            <figure class="effect-marley">
                <img src="/Content/img/h6.jpg" alt="" class="img-responsive" />
                <figcaption>
                    <h4>Halı Saha 5</h4>
                </figcaption>
            </figure>
        </div>
    </div>
<br />
<br />
<br />
<br />
    <div class="container">
    <div class="col-md-4">
        <figure class="effect-marley">
            <img src="/Content/img/h7.jpg" alt="" class="img-responsive" />
            <figcaption>
                <h4>Oyuncular</h4>
            </figcaption>
        </figure>
    </div>
    <div class="col-md-4">
        <figure class="effect-marley">
            <img src="/Content/img/h8.jpg" alt="" class="img-responsive" />
            <figcaption>
                <h4>Halı Saha 6</h4>
            </figcaption>
        </figure>
    </div>
    <div class="col-md-4">
        <figure class="effect-marley">
            <img src="/Content/img/h9.jpg" alt="" class="img-responsive" />
            <figcaption>
                <h4>Galibiyet Pozu</h4>
            </figcaption>
        </figure>
    </div>
</div>
<br />
<br />
<br />
<br />


